<section>
  <article id="container_menu">
    <div id="container_botao">
      <button type="button" class="btn btn-success" (click)="eventoBotaService('dono')">Dono</button>
      <button type="button" class="btn btn-success" (click)="eventoBotaService('animal')">Animal</button>
      <button type="button" class="btn btn-success" (click)="eventoBotaService('vacina')">Vacina</button>
      <button type="button" class="btn btn-success" (click)="eventoBotaService('banho')">Banho</button>
      <button type="button" class="btn btn-success" (click)="eventoBotaService('produto')">produto</button>
      <button type="button" class="btn btn-success" (click)="eventoBotaService('caixa')">caixa</button>

    </div>

    <div *ngIf="eventoBotao == 'dono'">
      <app-dono></app-dono>
    </div>

    <div *ngIf="eventoBotao == 'animal'">
      <app-animal></app-animal>
    </div>

    <div *ngIf="eventoBotao == 'vacina'">
      <app-vacina></app-vacina>
    </div>

    <div *ngIf="eventoBotao == 'banho'">
      <app-banho></app-banho>
    </div>

    <div *ngIf="eventoBotao == 'produto'">
      <app-produto></app-produto>
    </div>

    <div *ngIf="eventoBotao == 'caixa'">
      <app-caixa></app-caixa>
    </div>

  </article>
</section>